
copyrev: 618cc012eb9ef1abefe30d579071926c0007b675
copy: templates/spartan/error.tmpl

{header}
<title>Mercurial Error</title>
</head>
<body>

<h2>Mercurial Error</h2>

<p>
An error occurred while processing your request:
</p>
<p>
{error|escape}
</p>

{footer}
