
copyrev: 4d8a6c9da7b8e2bf05769f760cb977d2eb8a0c6f
copy: templates/spartan/header.tmpl

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<link rel="icon" href="{staticurl}hgicon.png" type="image/png">
<meta name="robots" content="index, nofollow" />
<link rel="stylesheet" href="{staticurl}style.css" type="text/css" />
