
copyrev: 748a3e79032162b73e64fde3e1c735a46bb597c1
copy: templates/raw/changeset.tmpl

{header}
# HG changeset patch
# User {author}
# Date {date|hgdate}
# Node ID {node}
{parent%changesetparent}
{desc}

{diff}
