
copyrev: 3b7b4e8e5b67108ceea2a3645e43dbc3e85f966d
copy: templates/footer.tmpl

#motd#
<div class="logo">
powered by<br/>
<a href="http://www.selenic.com/mercurial/">mercurial</a>
</div>

</body>
</html>
