
copyrev: 680d0dcfa246e9970394e11adcdb69555c31ba37
copy: templates/paper/header.tmpl

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US">
<head>
<link rel="icon" href="{staticurl}hgicon.png" type="image/png" />
<meta name="robots" content="index, nofollow" />
<link rel="stylesheet" href="{staticurl}style-paper.css" type="text/css" />
