
copyrev: 815f64a64fae91626106c354720bb5ad2c104513
copy: templates/paper/notfound.tmpl

{header}
<title>Mercurial repository not found</title>
</head>
<body>

<h2>Mercurial repository not found</h2>

The specified repository "{repo|escape}" is unknown, sorry.

Please go back to the <a href="{url}">main repository list page</a>.

{footer}
