
copyrev: 199a615750b0ec6a3716cfe384cc5ebc53406c8b
copy: templates/rss/error.tmpl

{header}
    <title>Error</title>
    <description>Error</description>
    <item>
      <title>Error</title>
      <description>{error|escape}</description>
      <guid>http://mercurial.selenic.com/#error</guid>
    </item>
  </channel>
</rss>
