
copyrev: 7f8bd1e7de4969ad05aac72a9d572a4ae178fed4
copy: templates/rss/header.tmpl

<?xml version="1.0" encoding="{encoding}"?>
<rss version="2.0">
  <channel>
    <link>{urlbase}{url}</link>
    <language>en-us</language>
